body {
	margin-top: 60px;
	text-align: center;
}

ul {
	list-style-type: none;

}

li {
	font-size: 30px;
	line-height: 40px;
}

li a {
	color: black;
}

li a:hover {
	text-decoration: line-through;
}

li del {
	color: #DDD;
}

input[type="text"] {
	font-size: 26px;
	line-height: 30px;
	height: 35px;
	width: 350px;
	padding: 8px 16px;
}